[submodule "third_party/vggt"]
	path = third_party/vggt
	url = https://github.com/facebookresearch/vggt.git
	branch = main
[submodule "third_party/Wan2.1"]
	path = third_party/Wan2.1
	url = https://github.com/Wan-Video/Wan2.1.git
	branch = main
[submodule "third_party/VidFM3D"]
	path = third_party/VidFM3D
	url = https://github.com/zxhuang1698/VidFM3D.git
	branch = main
[submodule "third_party/vggt-omega"]
	path = third_party/vggt-omega
	url = https://github.com/facebookresearch/vggt-omega.git
	branch = main
